
<div id="like_<%= comment.id %>">
    <% if comment.like?(current_user) %>
      <%= render partial: "likes/unlike", locals:{comment: comment} %>
    <% else %>
      <%= render partial: "likes/like", locals:{comment: comment} %>
    <% end %>
  いいねの数<span class="badge"><%= comment.likes.count %></span>
</div>